@use "partial" as *;

/* 1200px */
@media (max-width: 1200px) {
    .cases-nav-grid {
    grid-template-columns:  1fr;
  }

  .cases-nav-title{
    font-size: clamp(1.8rem, 3.2vw, 2.6rem);
  }

  .cases-nav-item {
    width: 70%;
    max-width: 650px;
    margin: 0 auto;
  }

 
}

/* 900px */
@media (max-width: 900px) {
  .burger {
    display: flex;
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    z-index: 20;
  }

  .nav {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background: $color-white;
    padding: 2rem 0;
    transform: translateY(-200%);
    opacity: 0;
    pointer-events: none;
    text-align: center;
    transition: 0.3s ease;

    &.open {
      transform: translateY(0);
      opacity: 1;
      pointer-events: auto;
    }
  }

  .nav-list {
    flex-direction: column;
    gap: 1.5rem;

    a {
      font-size: 1.1rem;
      color: $color-text;
    }
  }

  p {
    font-size: 16px;
  }

  .competence-col-title {
    font-size: 1.5rem;   
  }


 .cases-nav-grid {
    grid-template-columns:  1fr;
  }

  .cases-nav-title{
    font-size: clamp(1.8rem, 4vw, 2.6rem);
  }

  .cases-nav-item {
    width: 80%;
    max-width: 650px;
    margin: 0 auto;
  }

  
  .section__heading {
    font-size: 1.6rem;
  }

  .competence-col {
    min-height: 220px;
  }

  

  .tools-row {
    gap: 0.6rem;
  }

  .tool-badge {
    width: 2.6rem;
    height: 2.6rem;
  }
}




/*  600px */
@media (max-width: 600px) {
  .btn-primary,
  .btn-ghost {
    max-width: 80%;
  }

  .site-header {
    height: auto;
    min-height: 100px;
    padding: 1rem 0;
  }

  .header-inner {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
  }

  .container .header-inner {
    width: 100% !important;
    max-width: 100% !important;
  }

  .logo-name{
    font-size: 1.2rem;
  }

  .about-text{
    padding: 1rem;
  }

  .cases-nav-grid {
    grid-template-columns: 1fr;
  }
   
  .cases-nav-item{
    width: 100%;
  }

  .cases-nav-title{
    font-size: clamp(1.7rem, 6vw, 2.4rem);
  }

 
 
  .competence-col {
    min-height: 180px;
    padding-left: 10px;
    padding-right: 1rem;
  }

  

  .contact-form{
    margin: 1rem;
  }
}

